<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to Video Converter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        
    
        /* Styles for body section */
        .slides {
            text-align: center;
            margin: 0 auto;
            max-width: 600px;
        }

        .slide h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .slide p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        /* Styles for button */
        button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 1rem;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #45a049; /* Darken the button color on hover */
        }

        
.theme-text {
  color: #4CAF50;
}

.card-img-top {
  height: 200px;
  width: 100%;
}
.card {
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  
}
.container-fluid {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;  
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url("blob-scene-haikei.svg");
    background-position: center;
    background-size: cover;
}

/* Style the footer */

.footer {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #f8f9fa;
    padding: 20px 0;
}
.zettabyte-logo img {
    display: block;
    align-content: center;
}


    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <header>
        <nav>
            <div class="brand">
                <h1><span style="color: green;">Zettabyte</span><span style="color: rgb(5, 4, 4);">Plus</span></h1>
            </div>
            <div class="nav-links">
        
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
              
            </div>
            
        </nav>
    </header>  
    <!-- Welcome Message -->
    <div class="container text-center" style="font-family: sans-serif;">
        
                <h1 class="display-4">Welcome to <br>ZettaByte's Text to Video Converter!</h1><br>
                <p class="lead">We are a team of passionate developers dedicated to providing you with high-quality tools for converting text to video.</p>
            
    </div>


    
<div class="container-fluid">
    <h2 class="text-center mt-5 display-3 fw-bold">Meet Our Team</h2>
    <hr class="mx-auto mb-5 w-25">
    <div class="row mb-5">
        <div class="col-12 col-sm-6 col-md-4 m-auto ">
            <!-- card starts here -->
            <div class="card shadow" style="height:600px ;width: 370px;">
                <img src="{% static 'bhavitha3.jpeg' %}" alt="Team Member 1" class="card-img-top rounded-circle" style="width: 200px; align-self: center;margin-top: 10px;">
                <div class="card-body text-center">
                    <h3 class="text-center">Bhavitha Nandaluru<br></h3><h5>Team Lead | SE-3</h5>
                    <hr class="mx-auto w-75">
                    <p>
                        Roll No: 12006030<br>
                        Branch: Computer Science and Engineering<br>
                        College: Sri Venkateswara University<br>
                        <h6 style="text-align:left;"><b>Key Work:</b></h6>
                        <p>Led the development of our Django web application, ensuring seamless integration of the codebase while enhancing UI functionality.</p>
                        <a href="https://www.linkedin.com/in/bhavithanandaluru/"><img src="{% static 'linkedin_logo.jpg' %}" alt="LinkedIn Logo" style="width: 35px; height: 35px;align-content: center;margin-top: 10px;"></a>
                    </p>
                </div>
            </div>
            <!-- card ends here -->
        </div>
        <!-- col ends here -->
        <div class="col-12 col-sm-6 col-md-4 m-auto">
            <!-- card starts here -->
            <div class="card shadow" style="height:600px ;width: 370px;">
                <img src="{% static 'chandana.jpeg' %}" alt="Team Member 2" class="card-img-top rounded-circle" style="width: 200px; align-self: center;margin-top: 10px;">
                <div class="card-body text-center">
                    <h3 class="text-center">D Mani Chandana<br></h3><h5>Intern</h5>
                    <hr class="mx-auto w-75">
                    <p>
                        Roll No: 12004012<br>
                        Branch: Electronics & Communication Engineering<br>
                        College: Sri Venkateswara University<br>
                        <h6 style="text-align:left;"><b>Key Work:</b></h6>
                        <p>Contributed to the text-to-video conversion functionality, aiding in core project development.</p>
                        <a href="https://www.linkedin.com/in/mani-chandana-duggirala-503737266/"><img src="{% static 'linkedin_logo.jpg' %}" alt="LinkedIn Logo" style="width: 35px; height: 35px;align-content: center;margin-top: 10px;"></a>
                        
                    </p>
                </div>
            </div>
            <!-- card ends here -->
        </div>
        <!-- col ends here -->
        <div class="col-12 col-sm-6 col-md-4 m-auto">
            <!-- card starts here -->
            <div class="card shadow" style="height:600px ;width: 370px;">
                <img src="{% static 'sahasree1.jpeg' %}" alt="Team Member 3" class="card-img-top rounded-circle" style="width: 200px; align-self: center;margin-top: 10px;">
                <div class="card-body text-center">
                    <h3 class="text-center">M Hari Sahasree<br></h3><h5>SE-1</h5>
                    <hr class="mx-auto w-75">
                    <p>
                        Roll No: 12104028<br>
                        Branch: Electronics & Communication Engineering<br>
                        College: Sri Venkateswara University<br>
                        <h6 style="text-align:left;"><b>Key Work:</b></h6>
                        <p>Focused on fortifying the text-to-speech functionality with robust multi-lingual support.</p>
                        <a href="https://www.linkedin.com/in/hari-sahasree-mudireddy-49a657248/"><img src="{% static 'linkedin_logo.jpg' %}" alt="LinkedIn Logo" style="width: 35px; height: 35px;align-content: center;margin-top: 10px;"></a>
                        
                    </p>
                </div>
            </div>
            <!-- card ends here -->
        </div>
        <!-- col ends here -->
        <div class="col-12 col-sm-6 col-md-4 m-auto">
            <!-- card starts here -->
            <div class="card shadow" style="height:600px ;width: 370px;margin-top: 40px;">
                <img src="{% static 'varshitha2.jpeg' %}" alt="Team Member 4" class="card-img-top rounded-circle" style="width: 200px; align-self: center;margin-top: 10px;">
                <div class="card-body text-center">
                    <h3 class="text-center">Varshitha Narasapuram<br></h3><h5>Intern</h5>
                    <hr class="mx-auto w-75">
                    <p>
                        Roll No: 12104032<br>
                        Branch: Electronics & Communication Engineering<br>
                        College: Sri Venkateswara University<br>
                        <h6 style="text-align:left;"><b>Key Work:</b></h6>
                        <p>Led the implementation of text-to-speech functionality, laying the foundation for seamless audio conversion.</p>
                        <a href="https://www.linkedin.com/in/varshitha-narasapuram-a38471261/"><img src="{% static 'linkedin_logo.jpg' %}" alt="LinkedIn Logo" style="width: 35px; height: 35px;align-content: center;margin-top: 10px;"></a>
                        
                    </p>
                </div>
            </div>
            <!-- card ends here -->
        </div>
        <!-- col ends here -->
        <div class="col-12 col-sm-6 col-md-4 m-auto">
            <!-- card starts here -->
            <div class="card shadow" style="height:600px ;width: 370px;margin-top: 40px;">
                <img src="{% static 'likhith.jpg' %}" alt="Team Member 5" class="card-img-top rounded-circle" style="width: 200px; align-self: center;margin-top: 10px;">
                <div class="card-body text-center">
                    <h3 class="text-center">P Likhith Kumar<br></h3><h5>SE-1</h5>
                    <hr class="mx-auto w-75">
                    <p>
                        Roll No: 12104037<br>
                        Branch: Electronics & Communication Engineering<br>
                        College: Sri Venkateswara University<br>
                        <h6 style="text-align:left;"><b>Key Work:</b></h6>
                        <p>Assisted in the development of text-to-video conversion features.</p>
                        <a href="https://www.linkedin.com/in/likhith-kumar-5742352a5/"><img src="{% static 'linkedin_logo.jpg' %}" alt="LinkedIn Logo" style="width: 35px; height: 35px;align-content: center;margin-top: 10px;"></a>
                        
                    </p>
                </div>
            </div>
            <!-- card ends here -->
        </div>
        <!-- col ends here -->
        <div class="col-12 col-sm-6 col-md-4 m-auto">
            <!-- card starts here -->
            <div class="card shadow" style="height:600px ;width: 370px;margin-top: 40px;">
                <img src="{% static 'ganesh1.jpeg' %}" alt="Team Member 6" class="card-img-top rounded-circle" style="width: 200px; align-self: center;margin-top: 10px;">
                <div class="card-body text-center">
                    <h3 class="text-center">Ganesh Barla<br></h3><h5>SE-1</h5>
                    <hr class="mx-auto w-75">
                    <p>
                        Roll No: 12104004<br>
                        Branch: Electronics & Communication Engineering<br>
                        College: Sri Venkateswara University<br>
                        <h6 style="text-align:left;"><b>Key Work:</b></h6>
                        <p>Provided assistance with UI enhancements, contributing to the user experience and interface design.</p>
                        <a href="https://www.linkedin.com/in/ganesh-barla-9023932b1/"><img src="{% static 'linkedin_logo.jpg' %}" alt="LinkedIn Logo" style="width: 35px; height: 35px;align-content: center;margin-top: 10px;"></a>
                        
                    </p>
                </div>
            </div>
            <!-- card ends here -->
        </div>
        <!-- col ends here -->

    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

<footer class="footer">
    <div style="font-size: 30px;margin-left: 35px;"><b>FOLLOW US</b>
        <a href="https://www.linkedin.com/company/zettabyte-plus" style="text-decoration: none;">
            <img src="{% static 'linkedin_logo.jpg' %}" alt="LinkedIn Logo" style="height: 45px;width: 45px; margin-left: 20px;">
        </a><br>
        <div style="margin-left: 250px;font-size: 20PX;margin-top: 50px;">
        Visit our website :
        <a href="https://zbplus.pages.dev/" style="text-decoration: none;">
            <img src="{% static 'link.jpg' %}" alt="LinkedIn Logo" style="height:45px;width: 45px; margin-left: 20px;margin-right: 180px;margin-bottom: 10px;">
        </a>
        For inquires,contact :
        <a href="mailto:zettabytesofttech@gmail.com" style="text-decoration: none;">
            <img src="{% static 'email.jpg' %}" alt="LinkedIn Logo" style="height:45px;width: 45px; margin-left: 20px;margin-bottom: 10px;">
        </a>
        </div>
    </div>   
    <!-- Zettabyte Logo -->
    <div class="zettabyte-logo">
        <img src="{% static 'zettalogo.jpg' %}" alt="Zettabyte Logo" style="height: 170px; width: 190px; margin-right: 30px;margin-top: 10px; ">

    </div>
</footer>
</html>